@font-color: #a1a1a1;
@hover-color: #fff;
@selected-color: #fff;

@theme: #000;
@hover: @theme;
@selected: #202020;
@pop: #fff;

@danger: red;
@warning: rgb(255, 187, 0);
@success: rgba(0, 128, 0, 0.5);
@info: #000000;
@message-font: #fff;


// 首页
@icon-color: #a1a1a1;
@icon-hover: #fff;
@indicator: @icon-color;
@active-indicator-bg: #fff;


@danger: #cc3600; // 危险、错误
@primary: #6b9eee; // 主色调、链接
@words: #373737; // 大部分文字、深色文字
@lightWords: #999; // 少部分文字、浅色文字
@warn: #dc6a12; // 警告
@success: #7ebf50; // 成功
@gray: #b4b8bc; // 灰色
@dark: #202020; // 深色