* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #222222;
}
form {
    width: 400px;
    background-color: #fff;
    margin: 30px auto;
    border-radius: 10px;
    padding: 20px;
}

form h3 {
    text-align: center;
    margin-bottom: 30px;
}
.form-item {
    margin-bottom: 10px;
}
.txt {
    outline: none;
    border: 1px solid #ccc;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
}
.txt::placeholder {
    color: #ccc;
}
.txt:focus {
    outline: 1px solid #577FE4;
}
button {
    outline: none;
    height: 40px;
    padding: 0 20px;
    border: none;
    background-color: #577FE4;
    color: #fff;
    border-radius: 5px;
}
button:hover {
    background-color: #6f91e7;
    cursor: pointer;
}
button:disabled {
    background-color: #6f91e7;
    cursor: not-allowed;
}
select.txt {
    height: 100px;
}

textarea.txt {
    height: 100px;
    resize: none;
    padding: 10px;
}
.policy {
    color: #ccc;
}
.policy input:checked~span {
    color: #000;
}
.policy input {
    vertical-align: middle;
}
.submit, .reset {
    width: 45%;
}
.captcha.txt {
    width: 60%;
}
.sex {
    margin-right: 10px;
}
.radio {
    color: #ccc;
    cursor: pointer;
}
.radio input:checked~span {
    color:#000
}
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix::after {
    content: '';
    display: block;
    /* 顶部外边距会折叠 */
    /* margin-top: 100px; */
    clear: both;
}